body {
  margin: 0;
  font-family: 'Montserrat', 'Trebuchet MS', sans-serif;
  width: 600px;
}

.add-issue {
  background: #F5F5F5;
  padding: 20px 10px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h5 {
  margin: 8px 0;
}

input {
  font-size: 20px;
  color: #000;
  border: solid 1px ;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

select {
  box-sizing: border-box;
  padding: 10px;
  appearance: none;
  border: solid 1px #000;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  color: grey;
}

button {
  padding: 10px 20px;
  background: #6383C7;
  color: white;
  font-weight: bold;
  border: 1px solid #6383C7;
  border-radius: 5px;
}

.buttons {
  margin: 10px;
  text-align: center;
}

#save-link-btn {
  background: #7BCFAF;
}

#issues-view {
  padding: 20px 10px; 
  margin: 30px 0;
  line-height: 0.8em;
}

.issues {
  margin: 30px 0;
  background: #F5F5F5;
  box-shadow: 10px 5px 5px #F5F5F5;
  padding: 20px;
}

.views-btn{
  margin: 10px 0px;
  text-align: center;
}

#close {
  background: orange;
  margin-right: 10px;
}

#delete {
  background: red;
}

